@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.heading1 {
    color: #1f2933;
    font-family: "Roboto";
    font-weight: bold;
}

.dde {
    padding: 20px;
}

.image {
    width: 100%;
}

.heading {
    color: #959ead;
    font-size: 15px;
}

.paragraph {
    color: #323f4b;
    font-family: "Roboto";
}

.dfg {
    color: #1754a1;
    font-family: "Roboto";
    font-weight: bold;
}

.button {
    background-color: #1754a1;
    color: #ffffff;
}